### VS CODE ###

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### COD 5 MOD FILES ###

mod.ff
NDU-Reloaded.iwd
NDU-Reloaded.files
console.log
maps/_zombiemode_weapons_old.gsc
weapons/sp/thompson_bigammo_mp (blap_blap)
material_properties/mod_ndu_old.csv
weapons/sp/sten_markv_type100stats
xmodel/zmb_wpn_stg44_pap_view_unmolested
soundaliases/mod_ndu_blacklist.csv
